@font-face {
  font-family: "iconfont"; /* Project id 4742307 */
  src: url('//at.alicdn.com/t/c/font_4742307_trj06uygkup.woff2?t=1731388090146') format('woff2'),
  url('//at.alicdn.com/t/c/font_4742307_trj06uygkup.woff?t=1731388090146') format('woff'),
  url('//at.alicdn.com/t/c/font_4742307_trj06uygkup.ttf?t=1731388090146') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e620";
}

.icon-zhihu:before {
  content: "\e60b";
}

.icon-sikao:before {
  content: "\e602";
}

.icon-zao:before {
  content: "\e604";
}

.icon-folder-close:before {
  content: "\e64d";
}

.icon-wodezhuangbei:before {
  content: "\e66c";
}

.icon-guanyuwo:before {
  content: "\e62b";
}

.icon-remen:before {
  content: "\e6a6";
}

.icon-fenleiliebiao:before {
  content: "\e609";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-biaoqianliebiao:before {
  content: "\e649";
}

.icon-suiji:before {
  content: "\e8e2";
}

.icon-xinwen:before {
  content: "\e61b";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-youlianguanli:before {
  content: "\e66f";
}

.icon-email-fill:before {
  content: "\e856";
}

.icon-bikan:before {
  content: "\e77b";
}

.icon-zishu:before {
  content: "\e632";
}

.icon-shichang:before {
  content: "\e68c";
}

.icon-xiugaishijian:before {
  content: "\e707";
}
